**Step 1: Import Libraries and Load Data**

In [1]:
# Import necessary libraries
import pandas as pd

# File paths (update these paths based on where your CSV files are saved locally)
customers_path = "Customers.csv"
products_path = "Products.csv"
transactions_path = "Transactions.csv"

# Load datasets
customers = pd.read_csv(customers_path)
products = pd.read_csv(products_path)
transactions = pd.read_csv(transactions_path)

# Display basic information about each dataset
print("Customers Data")
print(customers.info())
print(customers.head())

print("\nProducts Data")
print(products.info())
print(products.head())

print("\nTransactions Data")
print(transactions.info())
print(transactions.head())

Customers Data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    200 non-null    object
 1   CustomerName  200 non-null    object
 2   Region        200 non-null    object
 3   SignupDate    200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB
None
  CustomerID        CustomerName         Region  SignupDate
0      C0001    Lawrence Carroll  South America  2022-07-10
1      C0002      Elizabeth Lutz           Asia  2022-02-13
2      C0003      Michael Rivera  South America  2024-03-07
3      C0004  Kathleen Rodriguez  South America  2022-10-09
4      C0005         Laura Weber           Asia  2022-08-15

Products Data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    100 non-null    object
 1   ProductName  100 non-null    object
 2   Category     100 non-null    object
 3   Price        100 non-null    float64
dtypes: float64(1), object(3)
memory usage: 3.3+ KB
None
  ProductID              ProductName     Category   Price
0      P001     ActiveWear Biography        Books  169.30
1      P002    ActiveWear Smartwatch  Electronics  346.30
2      P003  ComfortLiving Biography        Books   44.12
3      P004            BookWorld Rug   Home Decor   95.69
4      P005          TechPro T-Shirt     Clothing  429.31

Transactions Data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    1000 non-null   object
 1   CustomerID       1000 non-null   object
 2   ProductID        1000 non-null   object
 3   TransactionDate  1000 non-null   object
 4   Quantity         1000 non-null   int64
 5   TotalValue       1000 non-null   float64
 6   Price            1000 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 54.8+ KB
None
  TransactionID CustomerID ProductID      TransactionDate  Quantity  \
0        T00001      C0199      P067  2024-08-25 12:38:23         1
1        T00112      C0146      P067  2024-05-27 22:23:54         1
2        T00166      C0127      P067  2024-04-25 07:38:55         1
3        T00272      C0087      P067  2024-03-26 22:55:37         2
4        T00363      C0070      P067  2024-03-21 15:10:10         3

   TotalValue   Price
0      300.68  300.68
1      300.68  300.68
2      300.68  300.68
3      601.36  300.68
4      902.04  300.68

**Step 2: Data Cleaning**

In [2]:
# Convert date columns to datetime format
customers['SignupDate'] = pd.to_datetime(customers['SignupDate'])
transactions['TransactionDate'] = pd.to_datetime(transactions['TransactionDate'])

# Check for duplicates in each dataset
print("Duplicate Rows in Customers:", customers.duplicated().sum())
print("Duplicate Rows in Products:", products.duplicated().sum())
print("Duplicate Rows in Transactions:", transactions.duplicated().sum())

# Check for missing values in each dataset
print("\nMissing Values in Customers:\n", customers.isnull().sum())
print("\nMissing Values in Products:\n", products.isnull().sum())
print("\nMissing Values in Transactions:\n", transactions.isnull().sum())

Duplicate Rows in Customers: 0
Duplicate Rows in Products: 0
Duplicate Rows in Transactions: 0

Missing Values in Customers:
 CustomerID      0
CustomerName    0
Region          0
SignupDate      0
dtype: int64

Missing Values in Products:
 ProductID      0
ProductName    0
Category       0
Price          0
dtype: int64

Missing Values in Transactions:
 TransactionID      0
CustomerID         0
ProductID          0
TransactionDate    0
Quantity           0
TotalValue         0
Price              0
dtype: int64

**Step 3: Exploratory Data Analysis (EDA)**


*3.1: Summary Statistics*

In [3]:
# Summary statistics for numeric columns
print("Transactions Dataset - Summary Statistics")
print(transactions[['Quantity', 'TotalValue', 'Price']].describe())

print("\nProducts Dataset - Summary Statistics")
print(products[['Price']].describe())

Transactions Dataset - Summary Statistics
          Quantity   TotalValue       Price
count  1000.000000  1000.000000  1000.00000
mean      2.537000   689.995560   272.55407
std       1.117981   493.144478   140.73639
min       1.000000    16.080000    16.08000
25%       2.000000   295.295000   147.95000
50%       3.000000   588.880000   299.93000
75%       4.000000  1011.660000   404.40000
max       4.000000  1991.040000   497.76000

Products Dataset - Summary Statistics
            Price
count  100.000000
mean   267.551700
std    143.219383
min     16.080000
25%    147.767500
50%    292.875000
75%    397.090000
max    497.760000

*3.2: Regional Sales Distribution*

In [4]:
# Calculate total sales by region
sales_by_region = transactions.merge(customers, on='CustomerID').groupby('Region')['TotalValue'].sum()
print("Sales by Region:")
print(sales_by_region)

Sales by Region:
Region
Asia             152074.97
Europe           166254.63
North America    152313.40
South America    219352.56
Name: TotalValue, dtype: float64

*3.3: Top Products by Sales*

In [5]:
# Top 5 products by total sales value
top_products = (
    transactions.merge(products, on='ProductID')
    .groupby('ProductName')['TotalValue']
    .sum()
    .sort_values(ascending=False)
    .head(5)
)
print("Top 5 Products by Sales Value:")
print(top_products)

Top 5 Products by Sales Value:
ProductName
ActiveWear Smartwatch    39096.97
SoundWave Headphones     25211.64
SoundWave Novel          24507.90
ActiveWear Jacket        22712.56
ActiveWear Rug           22314.43
Name: TotalValue, dtype: float64

*3.4: Monthly Sales Trends*

In [6]:
# Add a 'Month' column to transactions for trend analysis
transactions['Month'] = transactions['TransactionDate'].dt.to_period('M')

# Calculate monthly sales
monthly_sales = transactions.groupby('Month')['TotalValue'].sum()
print("Monthly Sales Trend:")
print(monthly_sales.head(5))  # Displaying first 5 months as a preview

Monthly Sales Trend:
Month
2023-12     3769.52
2024-01    66376.39
2024-02    51459.27
2024-03    47828.73
2024-04    57519.06
Freq: M, Name: TotalValue, dtype: float64

*3.5: Top Customers by Purchases*

In [7]:
# Top 5 customers by total purchase value
top_customers = (
    transactions.merge(customers, on='CustomerID')
    .groupby('CustomerName')['TotalValue']
    .sum()
    .sort_values(ascending=False)
    .head(5)
)
print("Top 5 Customers by Total Purchases:")
print(top_customers)

Top 5 Customers by Total Purchases:
CustomerName
Paul Parsons     10673.87
Bruce Rhodes      8040.39
Gerald Hines      7663.70
William Adams     7634.45
Aimee Taylor      7572.91
Name: TotalValue, dtype: float64